<section class="container d-flex align-items-center justify-content-center" >
    <div class=" ">
        <h2 class="mx-auto text-dark fw-bold" style="margin-top: 4rem !important;"> Add<span class="primaryText"> Banners</span>
        <form action="/admin/banners" method="post"  enctype="multipart/form-data">
                {{!-- &nbsp;Restaurant owners</span></h2> --}}
                        <h6>
                             <input type="file" name='bannerImages' class="SeeSpan p-5 text-white btn" required>
                        </h6>
                        <h6>
                             <input type="file" name='bannerImages' class="SeeSpan p-5 text-white btn" required>
                        </h6>
                        <h6>
                             <input type="file" name='bannerImages' class="SeeSpan p-5 text-white btn" required>
                        </h6>
            {{!-- <div class="row mt-4">


                <div class="col-12 col-lg-6">
                    <label for="inputEmail4" class="form-label ">Owner Name</label>
                    <input type="text" class="form-control" id="inputEmail4" placeholder="Name" name="OwnerName">
                </div>
                <div class="col-lg-6 col-12 ">
                    <label for="inputPassword4" class="form-label">Restaurant Name</label>
                    <input type="text" class="form-control" id="inputPassword4" placeholder="Name" id="inputPassword"
                        name="RestaurantName">
                </div>
                <div class="mt-2 col-12">
                    <label for="inputAddress" class="form-label">Email</label>
                    <input type="Email" class="form-control" id="inputAddress" placeholder="Email" name="Email">
                </div> --}}
                {{!-- <form action="/signup" method="post" id="NumberVerify">
                    <div class="col-12 mt-4">
                        <label for="inputAddress2" class="form-label">Phone</label>
                        <input type="number" class="form-control" id="inputAddress2" placeholder="Ph.no" name="Phone">
                        <input type="submit" class="SeeSpan btn text-white mt-3" value="verify"></input> <span
                            class="ms-2" id="Verify"></span>
                    </div>
                </form> --}}

                {{!-- <div class="col-12 mt-4">
                    <label for="inputAddress2" class="form-label">Location</label>
                    <input type="Text" class="form-control" id="inputAddress6" placeholder="Location" name="Location" >
                    <p class="ms-2" id="Verify"></p>
                    </p>
                </div>
                <div class="col-12 mt-4">
                    <label for="inputAddress2" class="form-label">Phone</label>
                    <input type="number" class="form-control" id="inputAddress2" placeholder="Ph.no" name="Phone">
                    <p class="ms-2" id="Verify"></p>
                    </p>
                </div>


                <div class="col-md-12 mt-4">
                    <label for="inputState" class="form-label"> Password</label>
                    <input type="password" class="form-control" id="inputState" placeholder="Password" name="Password">
                </div>


            </div> --}}
            <div class="modal-footer">
                <div class="mx-auto mt-2">
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary SeeSpan">Add Banners</button>
                    </div>
        </form>
    
    </div>
</section>