<nav class="navbar bg-white nav-properties ">
{{!-- <div>&nbsp;</div> --}}
  <div class="p-0 d-flex brandProperties justify-content-between">

    <a class="navbar-brand  " href="#">
      <img src="/images/Assets/123.png" alt="" width="300px" class="align-text-top mx-auto mx-lg- mt-0 text-center">
     </a>
     <div class="ms-auto  d-none d-md-flex">
        <div class="mainButton-Properties  p-2 pe-4">
            <a href="/home" class="text-decoration-none text-white ms-3 ">Home <span><i class="fa-solid fa-arrow-right-long ms-2"></i> </span></a>
     </div>
     </div>
  </div> 
</nav>