<section class="row pt-5 mt-5">
    <div class="col-md-6 col-lg-12 pt-5 text-center">
 <img src="/images/undraw_cooking_re_g99p.svg" alt="" class="img-responsive img-fluid w-25">
    </div>
    <div class="col-md-6  col-lg-12 text-center"><h1>Order is <span class="primaryText">on the way</span></h1></div>
</section>
   <div class="col-lg-12 pt-5 text-center">
     <a href="/finalOrders" class="btn SeeSpan text-white text-center">View Order</a>
   </div>