<section>
    <div class="px-5 py-5">

<div class="row mt-5">
  <h2 class="text-secondary fw-bold mb-4">Profile <span class="primaryText">Options</span></h2>
    <div class="col-lg-2  col-sm-12 ">
    
  <h6><a href="/userProfile" class="text-decoration-none nav-link buttonProfile primaryText my-4" style="">Dash Board <span></span> </a></h6>
  <h6><a href="/Profile" class="text-decoration-none nav-link buttonProfile my-4">Profile<span></a></h6>
  <h6><a href="/finalOrders" class="text-decoration-none nav-link buttonProfile my-4">Orders History<span></a></h6>
  {{!-- <h6><a href="/addAddress" class="text-decoration-none nav-link buttonProfile my-4">Add Address<span></a></h6> --}}
    </div>
    <div class="col-lg-10  col-sm-12 text-end pt-5   mt-4">
         <h2 class="text-secondary fw-bold mb-4 mt-5 pt-5">Hola, <span class="primaryText">Ajith Vijayakumaran</span></h2>
         {{!-- <h5>  Hello, Ajith Vijayakumarn</h5> --}}
         <h6>From your account dashboard. you can easily check & view your recent orders, manage your shipping and billing addresses and edit your password and account details.</h6>
       


  {{!-- <h6><a href="" class="text-decoration-none nav-link buttonProfile" style="">Dash Board <span></span> </a></h6>
  <h6><a href="" class="text-decoration-none nav-link buttonProfile">Profile<span></a></h6> --}}
    </div>
  
</div>
</div>

</section>